@import url(/assets/css/variables/colors.css);
@import url(/assets/css/variables/sizes.css);

.content2{
    width: var(--page-width);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #daa520;
    color: #000;
}
.content2-box{
    max-width: var(--general-width);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.article2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.img-circle{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding-bottom: 5px;
}
.article2>h3{
    font-size: 24px;
}
.article2>p{
    text-align: center;
    padding: 10px;
}