@import url(/assets/css/variables/colors.css);
@import url(/assets/css/variables/sizes.css);

.content1-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 50px 0px 50px;

}
.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.cover{
    max-width: var(--general-width);
    min-width: var(--min-width);
}
.content1-articles{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    height: 450px;
    margin-top: 20px;

}
.article{
    max-width: 360px;
    height: 300px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.article>a{
    max-width:360px;
    height: 300px;
}
.article>a>img{
    width: 100%;
    height: 100%;
}
.article>p, .content1-text{
    font-size: var(--general-font);
    text-align: center;
    color: var(--general-color);
}
small{
    font-weight: 400;
    color: var(--foreground-header);
}
h2{
    font-size: 36px;
    margin: 20px;
}
h3{
    text-align: center;
}
h3>a{
    color: #337ab7;
}
h3>a:hover {
    text-decoration: underline;
    color: #23527c;
}
#article{
    max-width: 360px;
    height: 450px;
}

@media screen and (max-width:799px){
    .content1-articles, .content1{
        flex-direction: column;
        width: 100%;
        height: max-content;
    } 
}