@import url(/assets/css/variables/colors.css);
@import url(/assets/css/variables/sizes.css);
header{
    background-color: var(--background-header);
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* max-width: var(--general-width); */
}
.menu-cover{
    flex-direction: row;
    justify-content: space-between;
}
.logo-text{
    top: 20px;
    color: var(--foreground-header);
    font-size: 18px;
}
.menu, .logo, .left-side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
nav{
    height: 100%;
}
.menu>li>a{
    padding: 15px;
    color:var(--foreground-header);
    height: 100%;
}
#home, #services{
    color: white;
    height: 100%;
}
#home{
    background: var(--active-background);
}
.menu:nth-child(1){
    margin-left: 10px;
}
ul{
    font-size: 14px;
}
.drop-down{
    position: absolute;
    display: none;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    width: 140px;
    padding-left: 10px;
    margin-left: 10px;
    background: var(--body-color);
    top: var(--header-height);
    z-index: 1;
}
.drop-down>li{
    padding-bottom: 5px;
}
.drop-down>li>a{
    color: #333;
    font-size: var(--general-font);
}
.visible:hover .drop-down{
    display: block;
}
.visible{
    height: 100%;
}
input{
    width: 200px;
    height: 30px;
    border: 1px solid var(--general-color);
    border-radius: 4px;
    padding: 0px 10px;
}
input:focus {
appearance: none;
border: none;
outline: none;
box-shadow: inset 0 1px 1px blue; 
}
.search:hover{
    background: #ccc;
}