@import url(/assets/css/variables/colors.css);
@import url(/assets/css/variables/sizes.css);

.introduction-cover{
    height:fit-content;
    width: var(--page-width);
    background: var(--introduction-color);
    color: var(--introduction-text-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    box-sizing: border-box;
}
.introduction-box{
    height: 100%;
    width: var(--general-width);
    min-width: var(--min-width);
}
h1{
    font-size: 63px;
}
h1, .intro{
    padding-bottom: 10px;
}
.intro{
    font-size: 23px;
}
.engage{
    background: #337ab7;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    color: var(--body-color);
    height: 35px;
    text-align: center;
    padding: 0px 10px;
}